*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

img{
    height: 30px;
    width: 30px;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,h2{
    padding: 10px 20px 0 20px;
    color: black;
    display: flex;
    align-items: center;
}

h3{
    color: black;
}

.btn{
    background: #22c5bd;
    color: #f1f1f1;
    padding: 5px 10px;
    text-align: center;
}

.btn.hover{
    color: #22c5bd;
    background: #f1f1f1;
    padding: 3px 8px;
    border: 2px solid #22c5bd;
}

.side-menu{
    position: fixed;
    background: #22c5bd ;
    width: 20vw;
    height: 100%;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color: beige;
    display: flex;
    text-align: center;
}

.side-menu li:hover{
    background: beige;
    color: #22c5bd;
}

.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 black;
}

.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search .user{
    flex: 1;
}

.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .search input[type=text] {
    border: none;
    background: beige;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav .search button img{
    width: 30px;
    height: 30px;
}

.container .header .nav .user .img{
    width: 40px;
    height: 40px;
}

.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;    
}

.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}

.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card{
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 Grey, 0 6px 20px 0 Grey;
}